.dialogs {
    display: grid;
    /* grid-template-areas: "a a a" "b b c" "b b c"; */
    grid-template-columns: 2fr 10fr;
    /* justify-content: start; */
    
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog a {
    color: gray;
    text-decoration: none;
}

.dialog img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.messages {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    /* text-align: start; */
}

.messages_left {
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 200px;
    background-color: aquamarine;
}

.messages_right {
    margin-left: 300px;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    /* width: 200px; */
    background-color: rgb(229, 245, 91);
}

.messages img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0px 10px 0px 10px;
}

.message {
}
